include ../mixin/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="fonts/fonts.css")
		link(rel="stylesheet" type='text/css' href="styles/main.min.css")
	body
		block content
		//- +debug
		include ../modules/section1

		//- script(src="./js/libs.min.js")
		//- script(src="./js/jquery.nicescroll.min.js")
		//- script(src="./js/jquery.min.js")
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>

		script(src="./libs/jquery/dist/jquery.min.js")
		script(src="./libs/vide/dist/jquery.vide.min.js")
		script(src="./js/main.min.js")
		//- block script
		


		