include ../mixin/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="styles/main.min.css")
	body(class=pageClass)
		.wrapper
			include ../modules/header
			include ../modules/section1
			include ../modules/footer
		//- script(src="js/jquery.js")
		script(src="./js/libs.min.js")
		script(src="./js/main.js")
		//- block script
		


		